/* JavaToGraphviz-debug.css

This CSS stylehseet is used for debugging JavaToGraphviz itself.
It adds a few data structure internals into each graph node label so I can see what's going wrong a bit more clearly. 

*/

graph {
	fontname: "Handlee";
	bgcolor: transparent;
	gv-idFormat: "G";
    gv-labelFormat: unset;
    compound: true;
}
graphNode {
    fontname: "Handlee";
    shape : rect; 
}
graphEdge {
    fontname: "Handlee"
}
subgraph {
    pencolor : black; 
    labeljust : "l";
}
node {
	gv-idFormat: "s_${lineNumber}";
	gv-labelFormat: "${id}: ${nodeType} #comments=${numComments} kn: ${keepNode} lkn: ${lastKeepNodeId}"; 
}
node.if {
	gv-idFormat: "if_${lineNumber}";
    gv-wordwrap: 20;
    shape : diamond; 
}
node.comment {
    gv-idFormat: "c_${lineNumber}";
}
node.method.end {
    gv-idFormat: "m_${lineNumber}";
    gv-labelFormat: "return";
}

/* handy for finding things in the diagram */
node.red { 
	color: red; 
}
